.button {
    background-color: var(--white);
    color: var(--text);
    font-size: var(--font-size-md);
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.button:hover {
    background-color: var(--green);
    color: var(--white);
}

@media (max-width: 1024px) {
    .button {
        font-size: var(--font-size-base);
    }
}