.carousel-container {
  overflow: hidden;
  position: relative;
  height: 100px;
  margin: 200px 0;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-card:hover {
  transform: scale(0.9);
  box-shadow:
    5px 5px 8px rgba(222, 222, 222, 0.362),
    10px 10px 8px rgba(152, 133, 133, 0.392),
    15px 15px 8px rgba(139, 154, 139, 0.303);
}

.carousel-track {
  display: flex;
  gap: 32px;
  align-items: center;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
